@charset "utf-8";

body {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  width:2000px;
  
}

div{
  background: #fffff;
  color: white;
  height:2000px;
}
p {
color: #668ad8;
  border: dashed 2px #668ad8;
  background: #f1f8ff; 
  padding: 0.5em 0.5em 0.5em 2em;
}

input {
	width:500;
}

button{
	width:800;
height:500;
font-size:100;
background: #f1f8ff;
}